# Python
*.pyc
__pycache__/

# Environment
.env
venv/
env/
.venv/
ENV/

# Streamlit
.streamlit/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Virtualbox
*.vbox
*.vbox-prev

# Windows
Thumbs.db
ehthumbs.db

sample.py